
*{
    margin: 0;
    padding: 0;
}
:root {
    --primary: #373f51;
    --secondary: #022050;
    --text-color: #1a1c20;
    --link-color:#9092FB;
    --background-color: #fff;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', serif;
    font-weight: 700;
    min-height: 100vh;
    background-color: var(--background-color);
}
a {
    color: var(--text-color);
    text-decoration: none;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 6rem;
}

nav a {
    height: 100%;
    padding: 0 -2rem;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--text-color);
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 1rem;
    letter-spacing: 1;
    transition: 0.2s;
}

nav a:hover {
    color: var(--link-color);
}

nav li:first-child {
    margin-right: auto;
    font-family: 'Rampart One', serif;
    color: var(--text-color);
}
.logo {
    font-size: 3rem;
}
.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.menu-btn {
    display: none;
}
/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.6rem;
    margin: 5.6rem 0;
    gap: 4rem;
    margin-bottom: 5rem;
}
.hero .intro {
    flex: 5;
}

.hero .intro h2 {
    font-family: 'Source Sans 3', serif;
    font-size: 4rem;
}
.hero .intro h2 span {
    color: var(--link-color);
}
.hero .intro h3 {
    font-family: 'Source Sans 3', serif;
    font-size: 2rem;
    margin: 20px 0;
}

.hero .intro p {
    font-family: 'Nunito', serif;
    font-size: 1.2rem;
    margin: 20px 0;
}
.hero .intro .socials {
    margin-top: 1.5rem;
    font-size: 2rem;
    margin: 20px -10px;
}

.hero .intro .socials a {
   display: inline-block;
   padding: 5px 10px;
   margin-right: 0.5rem;
   margin-bottom: 0.5rem;
   transition: 0.2s;
}

.hero .intro .socials a:hover {
    color: var(--link-color);
 }
.hero .profile {
    flex: 3;
    display: flex;
    justify-content: right;
    overflow: hidden;
}
.profile img {
    width: 80%;
    border-radius: 50%;
}
.hero .profile img:hover {
    transform: translate(-10px);
    transition: 0.3s ease;
}

/* media queries */
@media (max-width: 1160px) {
    .hideOnMobile {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}
@media (max-width: 1000px) {
    .hero .intro h2 {
        font-size: 2rem;
        transition: 0.2s ease;
    }
    .hero .intro h3 {
        font-size: 1rem;
        transition: 0.2s ease;
    }
    .hero .intro p {
        font-size: 1rem;
        transition: 0.2s ease;
    }
}
@media (max-width: 740px) {
    .hero {
        flex-direction: column-reverse;
    }
    .hero .profile img {
        width: 300px;
        transition: 0.3s ease;
    }
}
@media (max-width: 600px) {
    nav {
        padding: 0 1rem; 
    }
    .hamburger {
        width: 100%;
    }
    .hero {
        padding: 0 1rem;
    }
    .hero .intro h2  {
        font-size: 1.5rem;
    }
}