*{
    margin: 0;
    padding: 0;
}
:root {
    --primary: #373f51;
    --secondary: #022050;
    --text-color: #1a1c20;
    --link-color:#9092FB;
    --background-color: #fff;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', serif;
    font-weight: 700;
    min-height: 100vh;
    background-color: var(--background-color);
    width: 100%;
}
a {
    color: var(--text-color);
    text-decoration: none;
}

/* nav bar */
#navbar {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    z-index: 5;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 3.7rem;
}

nav a {
    height: 100%;
    padding: 0 -2rem;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--text-color);
    text-transform: lowercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    letter-spacing: 1;
    transition: 0.2s;
}

nav a:hover {
    color: var(--link-color);
}

nav li:first-child {
    margin-right: auto;
    font-family: 'Rampart One', serif;
    color: var(--text-color);
}
.logo {
    font-size: 3rem;
}
.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.586);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.menu-btn {
    display: none;
}
#menu-button {
    border: none;
    background: transparent;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 1rem;
}
/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    margin: 5.6rem 0;
    gap: 2rem;
    margin-bottom: 4.5rem;
}
.hero .intro {
    flex: 5;
}

.hero .intro h2 {
    font-family: 'Source Sans 3', serif;
    font-size: 4rem;
}
.hero .intro h2 span {
    color: var(--link-color);
}
.hero .intro h3 {
    font-family: 'Source Sans 3', serif;
    font-size: 2rem;
    margin: 20px 0;
}

.hero .intro h4 span {
    color: var(--link-color);
}
.hero .intro p {
    font-family: 'Nunito', serif;
    font-size: 1rem;
    margin: 20px 0;
}
.hero .intro .resume {
    padding: 0.2rem 0;
}
.hero .intro .resume-btn {
    border: 0.1rem solid #1a1c20;
    color: var(--text-color);
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Nunito', serif;
    font-size: 1rem;
    font-weight: 700;
    transition-duration: 0.4s;
}
.hero .intro .resume-btn:hover {
    background-color: var(--link-color);
    border: 0.15rem solid var(--link-color);
    color: #fff;
}
.hero .intro .socials {
    margin-top: 1.5rem;
    font-size: 2rem;
    margin: 20px -10px;
}

.hero .intro .socials a {
   display: inline-block;
   padding: 5px 10px;
   margin-right: 0.5rem;
   margin-bottom: 0.5rem;
   transition: 0.2s;
}

.hero .intro .socials a:hover {
    color: var(--link-color);
 }
.hero .profile {
    flex: 3;
    margin-top: -50px;
    display: flex;
    position: relative;
    justify-content: right;
    overflow: hidden;
}
.profile img {
    width: 80%;
}
.profile .img1 {
    z-index: 1;
    border-radius: 100%;
    position: absolute;
}
.profile.img2 {
    z-index: 0;
    position: absolute;
    transition: 0.3s ease;
    top: 0;
    left: 0;
}
.img2 .pic:hover {
    transform: translate(10px);
}
.hero .profile img:hover {
    transform: translate(-10px);
    transition: 0.3s ease;
}

/* skills section */
.skills-section {
    padding: 5rem 5.6rem 2rem 5.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.skills-section h2 {
    text-align: center;
    font-family: 'Source Sans 3', serif;
    font-size: 3rem;
}
.skills-section .skill-text {
    text-align: center;
    font-family: 'Nunito', serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1.5px solid #1a1c20;
    border-radius: 15px;
    margin: 1rem 10rem;
}
.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}
.skills-section .cells .cell img {
    width: 1rem;
    object-fit: contain;
}
.skills-section .cells .cell span {
    margin: 0 8px;
}

/*projects section*/
.projects-section {
    padding: 3.5rem 2rem 3rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title {
    text-align: center;
    font-family: 'Source Sans 3', serif;
    font-size: 3rem;
}
.projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 1rem;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
    margin: 0.5rem -1rem;
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.project-btn {
    color: var(--text-color);
    border-color: rgb(163, 163, 163);
}
.btn-color-2 {
    border: 0.1rem solid #1a1c20;
    color: var(--text-color);
    background-color: #fff;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    font-family: 'Nunito', serif;
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 0.4s;
  }
  
.btn-color-2:hover {
    background-color: var(--link-color);
    border: 0.10rem solid var(--link-color);
    color: #fff;
  }

.color-container {
    border-color: rgba(163, 163, 163);
    background: rgba(250, 250, 250);
}
.details-container {
    padding: 1rem 1rem;
    flex: 1;
    border-radius: 1rem;
    border: 0.1rem solid var(--text-color);
    text-align: center;
    margin: 0 2rem;
}
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    margin: 1rem;
}
.projects-section img {
    border-radius: 1.5rem;
    width: 80%;
}
.projects-section img:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}
.project-title {
    margin: 1rem;
    font-family: 'Source Sans 3', serif;
}
.project-sub h2 {
    color: var(--text-color);
    font-size: 1.5rem;
    height: 75px;
    text-align: center;
}

.project-sub p {
    font-weight: 400;
    font-size: 1rem;
    height: 3rem;
    text-align: center;
}
.details-title {
    margin: 1rem;
    color: var(--text-color);
}
/* nmc section */
.nmc-section {
    padding: 3.5rem 2rem 0 2rem;
    margin-top: 1rem;
}
.nmc-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    margin: -1rem 0;
    gap: 1rem;
    margin-bottom: 1rem;
}
.nmc-details .nmc-img {
    flex: 32%;
}
.nmc-img img {
    width: 80%;
}
.nmc-details .nmc-text {
    flex: 68%;
    padding: 1rem;
    font-size: 1rem;
}
.nmc-details .nmc-btn {
    border: 0.1rem solid #1a1c20;
    color: var(--text-color);
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Nunito', serif;
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 0.4s;
    margin: 1.5rem 0;
}
.nmc-details .nmc-btn:hover {
    background-color: var(--link-color);
    border: 0.10rem solid var(--link-color);
    color: #fff;
}

/* contact section */
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
.contact-section {
    padding: 0 2rem 1rem 2rem;
    margin: -2rem 0;
    margin-bottom: 1rem; 
}
.contact-section h2 {
    text-align: center;
    font-family: 'Source Sans 3', serif;
    font-size: 3rem;
}

.contact-container {
    max-width: 50%;
    margin: 0 auto;
}
.contact-box {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1.5px solid #1a1c20;
    border-color: var(--text-color);
    background: var(--background-color);
    margin: 2.5rem auto;
    padding: 1rem;
}
.contact-section .contact-box .contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}
.contact-section .contact-box .contact-item a:hover {
    color: var(--link-color);
}
.contact-box .contact-item p {
    padding: 0.5rem;
}
 /* footer */
 .footer {
    padding: 0 2rem 1rem 2rem;
    margin: -2rem 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Source Sans 3', serif;
    font-size: 1rem;
    font-weight: 600;
 }